{
  "env": {
    "development": {
      "presets": ["env"],
      "plugins": ["transform-object-rest-spread"]
    },
    "module": {
      "presets": [["env", { "modules": false }]],
      "plugins": ["transform-object-rest-spread"]
    }
  }
}